@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fff;
  --foreground: #000;
  --selection-bg: #000;
  --selection-color: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000;
    --foreground: #fff;
    --selection-bg: #fff;
    --selection-color: #000;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  min-height: 100vh;
  background-image: radial-gradient(var(--foreground) 1px, transparent 0);
  background-size: 1.875rem 1.875rem;
  background-position: center -0.9375rem;
}

::selection {
  background-color: var(--selection-bg);
  color: var(--selection-color);
}