@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000;
  --foreground: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fff;
    --foreground: #000;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  min-height: 100vh;
  background-image: radial-gradient(#000 1px, transparent 0);
  background-size: 1.875rem 1.875rem;
  background-position: center -.9375rem;
  background-color: #fff;
}

::selection {
  background-color: #000;
  color: #fff;
}