.Editor_title3__hWeAn {
    width: 90%;
    max-width: 1200px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Editor_title3__hWeAn .Editor_editor__header__GIEq6 {
    background-color: #fff;
    font-size: 32px;
    margin-bottom: 20px;
    width: 350px;
    text-align: center;
}

.Editor_title3__hWeAn .Editor_editor__subheader__uH98a {
    background-color: #fff;
    margin-bottom: 0;
    padding: 0 10px;
}

.Editor_title3__hWeAn .Editor_editor__description__sjr_h {
    text-align: center;
    background-color: #fff;
    padding: 20px 10px;
    width: 80%;
    line-height: 28px;
    font-size: 16px;
}